<!--
  Generated template for the BrandDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>brand-details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <!-- <ion-item slot="end">
        <ion-label floating>sort ProductsList</ion-label>
         <ion-select name="example" [ngModelOptions]="{standalone: true}">
            <ion-option [value]="example"  item-left (ionClick)="sort()">price</ion-option>
            <ion-list>
                <ion-item *ngFor="let task of range1">
                  <ion-label>{{ task }}</ion-label>
                  <ion-checkbox (ionChange)="checked($event, task)"></ion-checkbox>
                </ion-item>
              </ion-list>
            
            <ion-option [value]="example"  item-left (ionSelect)="weight()">by weight</ion-option>
            
         </ion-select>
      </ion-item> -->
      
    <!-- <ion-item *ngFor="let task of output">
        
        <ion-label >{{task }}</ion-label>
        <ion-checkbox  (ionChange)="checked($event, task)"></ion-checkbox>
      </ion-item> -->
      <ion-list>
         
               you selected: {{this.productService.brandMatch}}
                
                
                <ion-item *ngFor="let task of output">
                    <ion-label *ngIf="this.productService.brandMatch.length === 0 ; 
                    else checkedData">{{ task }} 
                    <ion-checkbox  (ionChange)="checked($event, task)" ></ion-checkbox>
                  </ion-label>
                    
                  
                  <ng-template #checkedData>
                    <ion-label *ngIf="this.productService.brandMatch.includes(task); else uncheckedData" >{{ task }}
                    <ion-checkbox  (ionChange)="checked($event, task)" checked ></ion-checkbox></ion-label>
                  <ng-template #uncheckedData>
                        <ion-label>{{ task }}
                        <ion-checkbox (ionChange)="checked($event, task)" ></ion-checkbox></ion-label>
                  </ng-template>
                    </ng-template>
                </ion-item>
      
                <!-- <button ion-button type="submit" expand="full" color="primary" (click)="onSubmit()">applynow</button> -->
      
          </ion-list>

          <ion-item>
              <ion-label>Watering Mode</ion-label>
              <ion-select [(ngModel)]="zone">
                <ion-option *ngFor="let task of output">byBrand</ion-option>
                
              </ion-select>
            </ion-item>
      
      <button ion-button type="submit" expand="full" color="primary" (click)="onSubmit()">applynow</button>
   
      
</ion-content>



































































